@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto; /* Κεντράρισμα στη μέση */
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  height: 100vh;

}

.card{
  display: flex;
  background-color: white;
  width: 700px;
  height: 300px;
  box-shadow: 11px 10px 5px 0px rgba(188,188,188,0.75);
  border-radius: 10px;
}
.container {
  background-color: white;
  width:400px;
  height: 300px;
  padding: 25px;
  border-top-right-radius: 10px; /* Στρογγυλοποιεί τη δεξιά επάνω γωνία */
  border-bottom-right-radius: 10px; /* Στρογγυλοποιεί τη δεξιά κάτω γωνία */

}

.line-break {
  display: block; /* Μετατρέπει το span σε μπλοκ, σαν να είναι <div> */
   /* Προσθέτει κενό από πάνω */
}
.image img {
width: 300px;
height: 300px;
border-radius: 10px 0 0 10px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;

}

.description {
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 40px;
}

.credit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}
.first{display: flex;}
.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;

}
.name h4 , .name p {

  font-size: 14px;
  margin-left: 10px;
}

.share {
width:30px;
height: 30px;
background-color:hsl(210, 46%, 95%) ;
cursor: pointer;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.share-menu{
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: absolute;
  left:250px;
  top:-50px;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  width:200px;
  height: 50px;
  padding: 20px;

}
.share_p{
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 12px;
}
.icons{
  width:15px;

}
@media (max-width: 600px) {
  body {
    padding: 10px; /* Ελαφρύ padding για μικρές οθόνες */
    display: flex;
    flex-direction: column;
  }
  .card {
    flex-direction: column;
  }

  .container {
    padding: 15px; /* Μικρότερο padding στο container */
  }

  .title {
    font-size: 18px; /* Μικρότερο μέγεθος τίτλου */
  }

  .description {
    font-size: 14px; /* Μικρότερο μέγεθος περιγραφής */
  }


}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
